@keyframes color-morph {
    0% {
        color: var(--primary-color);
    }
    25% {
        color: var(--secondary-color);
    }
    50% {
        color: var(--tertiary-color);
    }
    75% {
        color: var(--secondary-color);
    }
    100% {
        color: var(--primary-color);
    }
}
