@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes reveal-down {
    from {
        height: 0;
    }
    to {
        height: auto;
    }
}

@keyframes hide-up {
    from {
        height: auto;
    }
    to {
        height: 0;
    }
}
