/* SIMULATION */

#simulation {
    min-width: 450px;
    width: 100%;

    @media (min-width: 1500px) {
        width: 70%;
        margin: auto;
    }

    h1 {
	font-size: 24px;
    }
}

.system-image {
    width: 100%;
}

.glossary-button {
    position: absolute;
    right: 0;
}

.scrolldown {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    margin-inline: auto;
    display: flex;
    background-color: var(--secondary-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;

    a {
	text-decoration: inherit;
    }
}

#inputs {
    position: relative;
    background-color: #fff;
    padding: calc(var(--spacing) * 3);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing);
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid var(--accent-gray);
    border-radius: 5px;
}

input:focus-within {
    outline: 1px solid var(--tertiary-color);
}

input[type="range"]:focus-within {
    outline: none;
}

input[readOnly] {
    background-color: #ddd;
    pointer-events: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
}

input::-webkit-slider-runnable-track {
    background: var(--accent-gray);
    height: 8px;
    border-radius: 4px;
}

input::-moz-range-track {
    background: var(--accent-gray);
    height: 8px;
    border-radius: 4px;
}

input::-ms-track {
    background: var(--accent-gray);
    height: 8px;
    border-radius: 4px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background: var(--primary-color);
    border: none;
    margin-top: -5px;
}
input::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background: var(--primary-color);
    border: none;
}
input::-ms-thumb {
    height: 18px;
    width: 18px;
    background: var(--primary-color);
    border: none;
}

input::-webkit-slider-thumb:hover {
    background: var(--tertiary-color);
    transition-duration: var(--transition-duration);
}
input::-moz-range-thumb:hover {
    background: var(--tertiary-color);
    transition-duration: var(--transition-duration);
}
input::-ms-thumb:hover {
    background: var(--tertiary-color);
    transition-duration: var(--transition-duration);
}

.general-inputs {
    margin-bottom: var(--spacing-large);
}

.inputName, .advancedInputName {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: var(--spacing-small);
}

#advanced {
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
    border-radius: var(--border-radius);
    padding: var(--spacing-large);
    transition: all 3s;

    @media (min-width: 1500px) {
            padding: var(--spacing-large) calc(var(--spacing-large) * 3);
    }

    h2 {
	font-weight: 700;
	font-size: 20px;
    }

    input[type=file] {
	width: 100%;
	border-radius: 5px;
	border: solid 1px var(--accent-gray);
	font-weight: 500;
	margin-bottom: var(--spacing-small);
    }

    input::file-selector-button {
	color: #fff;
	padding: 8px;
	background: var(--primary-color);
	transition-duration: var(--transition-duration);
    }

    input[type=file]:hover::file-selector-button {
	background: var(--secondary-color);
    }

    .unhidden {
	transform: translateY(-100%);
	opacity: 0;
	visibility: hidden;
    }
}

.advancedInputName {
    cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-small);
}

.slider input[type=range] {
    flex-grow: 1;
    margin-left: var(--spacing-small);
}

.slider input[type=number] {
    width: 100px;
    padding: 8px;
    border: 1px solid var(--accent-gray);
    border-radius: 5px;
}

.slider input[type=number]:not(:read-only) {
    background-color: #fff;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

#interventions {
    margin-top: var(--spacing-large);
    margin-bottom: var(--spacing-large);
}

.interventionTabs {
}

.interventionTab {
    font-weight: 500;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition:
	background-color var(--transition-duration),
	transform var(--transition-duration);
    display: inline-flex;
    align-items: center;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
}

.interventionTab.addTab {
    background-color: var(--secondary-color);
}

.interventionTab.active {
    background-color: var(--tertiary-color);
}

.interventionTab:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.interventionTab .delete-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: var(--accent-darkgray);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    display: none;
}

.interventionTab:hover .delete-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interventionContents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-medium);
}

.interventionContent {
    background-color: rgba(from var(--primary-color) r g b / 10%);
    border-radius: var(--border-radius);
    padding: var(--spacing-large);
    display: none;

    @media (min-width: 1500px) {
        padding: var(--spacing-large) calc(var(--spacing-large) * 3);
    }

    input[type="text"]:not(:read-only) {
        background-color: #fff;
    }
}

.intervention-hint {
    margin-top: calc(var(--spacing) * 2);
    margin-bottom: calc(var(--spacing) * 2);
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}

.intervention-info {
    margin-left: calc(var(--spacing) * 2);
    padding: 5px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    aspect-ratio: 1 / 1;
}

.interventionContent.active {
    display: block;
}

.collapse-toggle {
    font-size: 18px;
    font-weight: bold;
    color: var(--tertiary-color);
    cursor: pointer;
    display: block;
    margin-top: var(--spacing);
}

.collapse-toggle.opened::after {
    content: '▲';
    display: inline-block;
    margin-left: 10px;
}

.collapse-toggle::after {
    content: '▼';
    display: inline-block;
    margin-left: 10px;
}

.email-form {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing);
}

.email-form input[type=checkbox] {
    display: none;
}

.email-form input[type=text] {
    flex-grow: 1;
    margin-right: var(--spacing);
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #dedede;
}

.run-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    padding: 15px 30px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
    width: 100%;
}

.run-text:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

#show-advanced {
    display: none;
}

.advanced-inputs {
    margin-bottom: var(--spacing-large);
}

.info-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: fit-content;
    font-weight: 500;
    margin-right: calc(var(--spacing) * 2);
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
    margin-bottom: var(--spacing);
}

#advanced-options {
    display: inline-block;
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
    margin-bottom: var(--spacing);
}

#advanced-options:hover, .info-button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.advanced-options-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#disclaimers {
    margin: calc(5 * var(--spacing)) 0;
    padding: calc(5 * var(--spacing));
    background-color: rgb(from var(--secondary-color) r g b / 20% );
    border-radius: var(--border-radius);
}

#disclaimers h3 {
    font-size: 16px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 600;
    color: #003771;
    margin-bottom: var(--spacing-small);
}

#disclaimers .warn {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #404040;
}

.hide {
    display: none;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sim-result {
    margin: 0 auto;
    flex-grow: 1;
}
