@use "components/buttons" as buttons;
@use "effects/slide";

/* SIMULATION */

#simulation {
    min-width: 450px;
    width: 100%;

    @media (min-width: 1500px) {
        width: 70%;
        margin: auto;
    }

    h1 {
        font-size: 24px;
    }
}

.system-image {
    width: 100%;
}

.glossary-button {
    position: absolute;
    right: 0;
}

.scrolldown {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    margin-inline: auto;
    display: flex;
    background-color: var(--secondary-color);
    height: 25px;
    width: 25px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    color: white;

    a {
        text-decoration: inherit;
    }

    svg {
        height: 1rem;
    }
}

#inputs {
    position: relative;
    background-color: #fff;
    padding: calc(var(--spacing) * 3);
    border-radius: var(--border-radius);
    margin-bottom: var(--spacing);
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid var(--accent-gray);
    border-radius: 5px;
}

input:focus-within {
    outline: 1px solid var(--tertiary-color);
}

input[type="range"]:focus-within {
    outline: none;
}

input[readOnly] {
    background-color: #ddd;
    pointer-events: none;
}

input[type="range"] {
    -webkit-appearance: none;
    background: transparent;
}

input::-webkit-slider-runnable-track {
    background: var(--accent-gray);
    height: 8px;
    border-radius: 4px;
}

input::-moz-range-track {
    background: var(--accent-gray);
    height: 8px;
    border-radius: 4px;
}

input::-ms-track {
    background: var(--accent-gray);
    height: 8px;
    border-radius: 4px;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 18px;
    width: 18px;
    border-radius: 9px;
    background: var(--primary-color);
    border: none;
    margin-top: -5px;
}
input::-moz-range-thumb {
    height: 18px;
    width: 18px;
    background: var(--primary-color);
    border: none;
}
input::-ms-thumb {
    height: 18px;
    width: 18px;
    background: var(--primary-color);
    border: none;
}

input::-webkit-slider-thumb:hover {
    background: var(--tertiary-color);
    transition-duration: var(--transition-duration);
}
input::-moz-range-thumb:hover {
    background: var(--tertiary-color);
    transition-duration: var(--transition-duration);
}
input::-ms-thumb:hover {
    background: var(--tertiary-color);
    transition-duration: var(--transition-duration);
}

.general-inputs {
    margin-bottom: var(--spacing-large);
}

.inputName, .advancedInputName {
    display: block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: var(--spacing-small);
}

#advanced {
    max-height: 0;
    overflow: hidden;
    transition: none;

    @media (min-width: 1500px) {
        &.unhidden {
            padding: var(--spacing-large) calc(var(--spacing-large) * 3);
        }
    }

    h2 {
        font-weight: 700;
        font-size: 20px;
    }

    .more-info {
        display: flex;
        flex-direction: row;
    }

    input[type=file] {
        width: 100%;
        border-radius: 5px;
        border: solid 1px var(--accent-gray);
        font-weight: 500;
        margin-bottom: var(--spacing-small);
        cursor: pointer;

        &::file-selector-button {
            color: #fff;
            padding: 8px;
            background: var(--primary-color);
            transition-duration: var(--transition-duration);
            cursor: pointer;
        }

        &:hover::file-selector-button {
            background: var(--secondary-color);
        }
    }

    &.unhidden {
        max-height: 1000px;
        box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
        border-radius: var(--border-radius);
        padding: var(--spacing-large);
        transition: max-height linear 0.5s;
    }
}


.advancedInputName {
    cursor: pointer;
}

.slider {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-small);
}

.slider input[type=range] {
    flex-grow: 1;
    margin-left: var(--spacing-small);
}

.slider input[type=number] {
    width: 100px;
    padding: 8px;
    border: 1px solid var(--accent-gray);
    border-radius: 5px;
}

.slider input[type=number]:not(:read-only) {
    background-color: #fff;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color var(--transition-duration), transform var(--transition-duration);
}

button:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

#interventions {
    background-color: rgba(from var(--primary-color) r g b / 10%);
    margin: var(--spacing) 0;
    border: 3px solid var(--tertiary-color);
    border-radius: var(--border-radius);
    padding: var(--spacing);
}

.interventionTabs {
    width: 100%;
}

.add-intervention-dropdown {
    background-color: white;
    width: var(--radix-dropdown-menu-trigger-width);
    border-radius: var(--border-radius);
    animation-duration: 0.6s;
    animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);

    &[data-side="top"] {
        animation-name: slide-up;
    }

    &[data-side="bottom"] {
        animation-name: slide-down;
    }

    .add-intervention-item {
        font-weight: 600;
        border-radius: var(--border-radius);

        &:hover {
            background-color: var(--accent-gray);
        }
    }
}

.interventionTab {
    @include buttons.info-button();
    display: inline-flex;
    margin: 0 var(--spacing) var(--spacing) 0;
    position: relative;
}

.interventionTab.addTab {
    background-color: var(--secondary-color);
    outline: none;
}

.interventionTab.active {
    background-color: var(--tertiary-color);
}

.interventionTab:hover {
    background-color: var(--secondary-color);
    transform: scale(1.05);
}

.interventionTab .delete-button {
    height: 20px;
    width: 20px;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: rgba(from var(--tertiary-color) r g b / 80%);
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    padding: 5px;
    display: none;
    transition: none;

    &:hover {
        background-color: var(--primary-color);
        transform: none;
    }
}

.interventionTab:hover .delete-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.interventionContents {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: var(--spacing-medium);
}

.interventionContent {
    border-radius: var(--border-radius);
    padding: var(--spacing-large);
    display: none;

    &.active {
        display: block;
    }

    @media (min-width: 1500px) {
        padding: var(--spacing-large) calc(var(--spacing-large) * 3);
    }

    input[type="text"]:not(:read-only) {
        background-color: #fff;
    }

    &:not(:has(.intervention-description)) input[type="text"] {
        margin-bottom: var(--spacing);

    }
}

.intervention-description {
    margin: calc(var(--spacing)) 0;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
}

.intervention-info {
    @include buttons.info-button($font-size: 11px);
    display: inline-flex;
    margin-left: calc(var(--spacing) * 2);
    padding: 5px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    aspect-ratio: 1 / 1;
}

.block-trans-root[data-state="open"] {
    *:not(h3) {
        margin-left: 0.5rem;
    }
}

.block-trans-collapsible {
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition-duration: 300ms;

    // prevent text selection within element
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        color: var(--secondary-color);
    }

    &[data-state="closed"] {
        animation: slide-up;
    }

    &[data-state="open"] {
        animation: slide-down;
        margin-bottom: 1rem;
    }

    &[data-state="closed"]::before {
        content: '▸ Show ';
    }

    &[data-state="open"]::before {
        content: '▾ Hide ';
    }
}

#results {
}

.results-main {
    overflow-y: scroll;
    aspect-ratio: 8.5 / 11;
    width: 85%;
    margin: auto;

    &::-webkit-scrollbar {
        display: -webkit-box !important;
        background-color: #eee;
        border-radius: 3px;
        width: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 3px;
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #aaa;
    }

    svg {
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: visible;
    }
}

.email-intake {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: row;

    button {
        height: 100%;
    }
}

.email-form {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing);
    flex-grow: 1;
}

.email-form input[type=text] {
    flex-grow: 1;
    margin-right: var(--spacing);
    padding: 10px;
    border-radius: var(--border-radius);
    border: 1px solid #dedede;
}

.run-text {
    @include buttons.info-button();
    width: 100%;
    font-size: 24px;
}

#show-advanced {
    display: none;
}

.advanced-inputs {
    margin-bottom: var(--spacing-large);
}

#advanced-options {
    @include buttons.info-button();
    display: inline-block;
}

.advanced-options-text {
    display: flex;
    align-items: center;
    justify-content: center;
}

#disclaimers {
    padding: calc(3 * var(--spacing));
    background-color: rgb(from var(--secondary-color) r g b / 20% );
    border-radius: var(--border-radius);
    font-size: 0.7em;

    h3 {
        font-size: 0.8rem;
        font-family: 'IBM Plex Sans', sans-serif;
        font-weight: 600;
        color: var(--tertiary-color);
        margin-bottom: var(--spacing-small);
    }
}

#disclaimers .warn {
    font-family: 'IBM Plex Sans', sans-serif;
    color: #404040;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: var(--primary-color);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    margin: 0 auto;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.sim-result {
    margin: 0 auto;
    flex-grow: 1;
}
