// expects a div that will contain a list
@mixin centered-ul() {
    display: block;
    width: fit-content;
    margin: auto;

    ul {
        list-style-type: square;
        list-style-position: inside;
        margin-top: calc(var(--spacing) * 3);
        margin-bottom: calc(var(--spacing) * 3);
    }
}

@mixin centered-ol() {
    display: block;
    width: fit-content;
    margin: auto;

    ol {
        list-style-type: decimal;
        list-style-position: inside;
    }
}
