@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500&display=swap');

:root {
  --primary-color: #3d9be9;
  --secondary-color: #f0325f;
  --font-family: 'IBM Plex Sans', sans-serif;
  --font-size: 16px;
  --line-height: 1.5;
  --spacing: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: #333;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing);
}

.logo {
  width: 355px;
  max-width: 12%;
}

.nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-evenly;
}

.nav-button {
  background: none;
  border: none;
  color: #404040;
  font-family: var(--font-family);
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  padding: 0 var(--spacing);
}

.nav-button:hover, .nav-button:focus, .nav-button.active {
  color: var(--secondary-color);
  outline: none;
}



/* SIMULATION */

.system {
    height: 100%;
    min-height: 60rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 0;
}

.system img {
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: 100vh;
}

@media screen and (max-width: calc(348px + 100vh)) {
    .system img {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: auto;
    }
}

#inputs {
    margin-left: auto;
    margin-right: auto;
}

#inputs * {
    transition-duration: 0.5s;
}

.slider {
    white-space: nowrap;
    display: flex;
}

.slider:hover input[type=range] {
    opacity: 1;
}

.slider input[type=range] {
    flex-grow: 1;
    width: max-content;
    /* transition: opacity 0.2s; */
    opacity: 0.5;
}

.slider:focus-within input[type=number] {
    outline: 1px solid var(--syndemics-blue);
}

.slider input[type=number] {
    height: 36px;
    width: 4rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "IBM Plex Mono";
    text-align: left;
    margin-right: 1rem;
}

.inputName {
    text-align: left;
    font-size: 16px;
    font-weight: 600;
}

input[type="file"] {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 36px;
    overflow: hidden;
}

input[type=file]:hover {
    cursor: pointer;
    background: var(--syndemics-blue-semitrans);
    border: 1px solid var(--syndemics-blue);
}

input[type="file"]::file-selector-button {
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
    border-right: 1px solid #ccc;
    height: 100%;
    color: #777;
    transition-duration: 0.5s;
}

input[type="file"]:hover::file-selector-button {
    background-color: var(--syndemics-blue);
    color: #ccc;
    cursor: pointer;
}

input[type="range"] {
    -webkit-appearance: none;
    background: #ccc;
    border-radius: 8px;
    height: 8px;
    margin: auto;
}

input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    background: var(--syndemics-blue);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    border: 1px solid var(--syndemics-blue);
    cursor: pointer;
    -webkit-appearance: none;
}

input[type="range"]::-moz-range-thumb {
    background: var(--syndemics-blue);
    height: 18px;
    width: 18px;
    border-radius: 25px;
    border: 1px solid var(--syndemics-blue);
    cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb:hover {
    background: var(--syndemics-pink);
}

input[type="range"]::-moz-range-thumb:hover {
    background: var(--syndemics-pink);
}

#intervention-name {
    margin-top: 0 !important;
}

#intervention-name input[type=text] {
    height: 36px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: "Syne";
}

.email-form {
    display: flex;
    height: 36px;
    text-align: left;
    border-radius: 5px;
    width: 100%;
    border: 1px solid #ccc;
    overflow: hidden;
    white-space: nowrap;
}

.email-form:hover,
.slider:hover input[type=number] {
    border: 1px solid var(--syndemics-blue);
}

.email-form:hover #email-check {
    background: var(--syndemics-blue);
}

.email-form:focus-within #email-check {
    background: var(--syndemics-blue);
    border-color: var(--syndemics-blue);
}

.email-form:focus-within {
    border-color: var(--syndemics-blue);
}

#email-check {
    display: inline-block;
    height: 37px;
    width: 36px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    background: #efefef;
    position: relative;
    top: -1px;
}

#email-check input[type=checkbox] {
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    position: relative;
    margin: 0;
    vertical-align: middle;
    height: 18px;
    width: 18px;
    top: 8px;
    cursor: pointer;
}

#email-check input[type=checkbox]:checked {
    accent-color: var(--syndemics-cyan);
}

#email-address {
    border: 0;
    padding: 0px 5px 0px 5px;
    border-radius: 0;
    height: 100%;
    flex-grow: 1;
}

#email-address:hover,
#email-address:focus {
    border: none !important;
    background-color: var(--syndemics-blue-semitrans);
    outline: none;
}

#advanced-options, #run {
    margin-top: 2rem;
    font-weight: 600;
    background-color: var(--syndemics-blue);
    color: #fff;
    display: block;
    width: fit-content;
    padding: 0 5px 0 5px;
    height: 36px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#advanced-options:hover, #run:hover {
    background-color: var(--syndemics-cyan);
}

.advanced-options-text, .run-text {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

#run {
    padding: 10px 0 10px 0;
    width: 100%;
}

.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height linear var(--collapse-duration);
}

.unhidden {
    height: auto;
    max-height: 4000px;
}

#show-advanced {
    display: none;
}

#inputs form {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#inputs input[type="text"]:focus,
#inputs input[type="text"]:hover {
    border: 1px solid var(--syndemics-blue);
}

.interventionTabs {
    border-radius: 10px 10px 0 0;
    overflow-x: scroll;
    white-space: nowrap;
    width: fit-content;
    max-width: 100%;
}

.interventionTab {
    transition-duration: 0.5s;
    height: 36px;
    width: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 0;
    border: 0;
    background-color: var(--syndemics-cyan);
    color: #fff;
    font-family: "Syne";
    font-weight: 600;
}

.interventionTab.active {
    background-color: var(--syndemics-blue);
}

.interventionTab.addTab {
    background-color: var(--syndemics-pink);
}

.interventionTab:not(.active):hover {
    background-color: var(--syndemics-overlap);
}

.interventionContent {
    display: none;
    border-radius: 0;
    border: 1px solid #ccc;
    padding: 10px;
    transition-duration: 0.5s;
}

.defaultOpen {
    display: block;
}

#welcome {
    color: var(--syndemics-cyan);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mainGreet {
    display: flex;
    font-family: Nunito;
    font-size: 4rem;
    font-weight: 600;
    transition-duration: 0.1s;
}

.additionalLinks {
    font-family: "Tilt Neon";
    font-weight: 500;
    font-size: 1.2rem;
    display: flex;
}

.additionalLinks ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.additionalLinks li {
    display: inline;
}

.additionalLinks li:not(:last-of-type):after {
    content: " ⁑ ";
    font-weight: 600;
    color: var(--syndemics-pink);
}

[id^="collapsed-"] {
    display: none;
}

.collapse-toggle {
    display: block;

    font-weight: 600;
    font-size: 16px;
    color: var(--syndemics-blue);
    cursor: pointer;
}

.collapse-toggle:hover {
    color: var(--syndemics-cyan);
}

.collapse-toggle:before {
    content: ' ';
    display: inline-block;

    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid var(--syndemics-blue);

    margin-right: 0.5rem;
    transition-duration: var(--collapse-duration);
}

.opened.collapse-toggle::before {
    transform: rotate(90deg);
}

/* WELCOME PAGE */

.welcome-about {
    border: 1px solid var(--syndemics-cyan);
    background: var(--syndemics-cyan);
    padding: 4rem;
}

.welcome-about-contents {
    color: #fff;
    max-width: 60%;
    min-width: 400px;
    margin: auto;
}

/* COOKIES PAGE */

.cookies {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.cookieQuestion {
    font-weight: 600;
}

.cookies ul {
    list-style: none;
    padding: 0;
    margin: 0 8px 0 8px;
}

.cookies input[type=text] {
    margin-left: 8px;
}
